<article class="card rounded-0 border-0 shadow-sm">
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <img src={{user.photo}} alt="user photo">
      </div>
      <div class="col-7" style="font-size: 12px;">
        <p class="card-title h5 ">{{ user.name }}</p>
        <p class="card-text mb-2">{{ user.age }} ans</p>
        <p><a class="font-weight-lighter" href="https://{{userWebSite}}" target="blank">{{ user.email }}</a></p>
        <!-- <p>💼 {{user.company}}</p> -->
        <!-- <p><a href="{{phone}}">📞 {{user.phone}}</a></p> -->
        <p><a>➕ View details</a></p>
      </div>
    </div>


  </div>
</article>
